.footer {
    background-color: #111;
    padding: 2rem;
}
.logo {
    width: fit-content !important;
}
.logo img {
    width: 6rem;
    margin: 0 .5rem;
}
.navbar {
    width: fit-content;
}
.navbar .nav-items {
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline;
    margin: 0 .5rem;
    list-style: none;
}
.navbar ul li a{
    color: #8a8887;
    transition: all .1s ease;
}
.navbar ul li a:hover{
    color: #b1aead;
}
