.cart-container {
  background-color: #333333;
  border-radius: 1rem;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.step-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  width: 8rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #007bff;
  position: relative;
}

.completed {
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
}

.current-step {
  border: 1px solid #007bff;
  background-color: #007bff;
}

.step-icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.line {
  /* Estilos para la línea */
  height: 2px;
  width: 100%;
  background-color: #dcdcdc;
  margin: 0 10px;
  position: relative;
}

.active-progress {
  /* Estilos para el progreso activo de cada línea */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* Inicialmente, la línea no tiene ancho (0%) */
  background-color: #2ecc71;
  transform-origin: left;
}

/* Animación de llenado para el primer formulario */
.line .active-progress.active {
  animation: progressAnimationForm1 0.3s ease forwards;
}

/* Animación de llenado para el segundo formulario */
.line .active-progress.completed {
  animation: progressAnimationForm2 0.3s ease forwards;
}

@keyframes progressAnimationForm1 {
  to {
    width: 100%; /* Al final de la animación, la línea tiene un ancho completo (100%) */
  }
}

@keyframes progressAnimationForm2 {
  to {
    width: 100%; /* Al final de la animación, la línea tiene un ancho completo (100%) */
  }
}

/* Agregar una clase para representar el tramo completado de la línea */
.line.completed {
  background-color: #2ecc71;
}

