.footer {
    background-color: #111;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-logo img {
    width: 6rem;
    margin: 0 .5rem;
}
.footer-nav ul li {
    margin: 0 .5rem;
    list-style: none;
}
.footer-nav ul li a{
    color: #8a8887;
    transition: all .1s ease;
}
.footer-nav ul li a:hover{
    color: #b1aead;
}